# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Dependencies
.venv/
venv/
__pycache__/
node_modules/

# Build artifacts
dist/
build/
target/

# Python
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.hprof
*.jprof
*.dynoptic
*.dot
*.ser
*.pid
*.scc

# C/C++
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.dylib
*.plist
*.gch
*.pch
*.ilk
*.pdb
*.ipch
*.iobj
*.ipdb
*.tlog
*.vspscc
*.vssscc
*.modelproj.user
*.userossc
*.suo
*.user
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.VC.VC.sdf
*.VC.VC.user
*.VC.VC.userossc
*.VC.VC.suo
*.VC.VC.user
*.VC.VC.aps
*.VC.VC.ncb
*.VC.VC.opendb
*.VC.VC.opensdf
*.VC.VC.sdf
*.VC.VC.cachefile
*.VC.VC.VC.db
*.VC.VC.VC.opendb
*.VC.VC.VC.sdf
*.VC.VC.VC.user
*.VC.VC.VC.userossc
*.VC.VC.VC.suo
*.VC.VC.VC.user
*.VC.VC.VC.aps
*.VC.VC.VC.ncb
*.VC.VC.VC.opendb
*.VC.VC.VC.opensdf
*.VC.VC.VC.sdf
*.VC.VC.VC.cachefile
*.VC.VC.VC.VC.db
*.VC.VC.VC.VC.opendb
*.VC.VC.VC.VC.sdf
*.VC.VC.VC.VC.user
*.VC.VC.VC.VC.userossc
*.VC.VC.VC.VC.suo
*.VC.VC.VC.VC.user
*.VC.VC.VC.VC.aps
*.VC.VC.VC.VC.ncb
*.VC.VC.VC.VC.opendb
*.VC.VC.VC.VC.opensdf
*.VC.VC.VC.VC.sdf
*.VC.VC.VC.VC.cachefile

# Go
*.a
*.o
*.so
*.test
*.prof
*.syso

# Rust
*.o
*.a
*.so
*.dylib
*.dSYM/
*.rlib
*.rmeta
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
jspm_packages/
.npm
.npmrc
.cache
.node_repl_history
*.tgz

# Ruby
*.gem
*.rbc
*.sass-cache
capybara-*.html
.rspec
/log
/tmp
/coverage
/spec/reports
/.rspec_status
public/system
vendor/bundle
.bundle
.rbx
.ruby-version
.rubocop.yml
.rubocop
.rubocop_todo.yml
.rubocop_todo

# PHP
*.phar
.php_cs
.php_cs.dist
.php_cs.cache
.phpunit.result.cache
/vendor
/composer.phar
/composer.lock
/Tests/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/web/app_dev.php
/web/config.php
/phpunit.xml
/phpunit.xml.dist
/phpcs.xml
/phpcs.xml.dist
/behat.yml
/behat.yml.dist
/Gruntfile.js
/Package.php
/package.xml
/phpstan.neon
/phpstan.neon.dist
/psalm.xml
/psalm.xml.dist
/rector.php
/rector.php.dist
/e2e/logs
/e2e/screenshots
/tests/_output
/tests/_support/_generated
/codeception.yml
/codeception.dist.yml
/codeception.local.yml
/codeception.coverage.yml
/codeception.functional.yml
/codeception.integration.yml
/codeception.unit.yml
/phpbench.json
/phpbench.xml
/phpbench.json.dist
/phpbench.xml.dist
/phpdox.xml
/phpdox.xml.dist
/infection.json
/infection.json.dist
/ecs.php
/ecs.php.dist
/ocramius/package-versions/PackageVersions/Installer.php
/ocramius/package-versions/src/PackageVersions/Installer.php
/composer/installed.json
/composer/auth.json
/composer/keys.dev.pub
/composer/keys.tags.pub
/composer/config.json
/composer/cacert.pem
/composer/jwt.key
/composer/jwt.key.pub
/composer/github-oauth.key
/composer/gitlab-token.key
/composer/gitlab-pat.key
/composer.bitbucket-oauth.key
/composer.private.key
/composer.public.key
/composer.auth.json
/composer.http-basic.key
/composer.http-basic.username
/composer.http-basic.password
/composer.oauth2.github.com.token
/composer.oauth2.gitlab.com.token
/composer.oauth2.bitbucket.org.token
/composer.oauth2.gitlab.example.com.token
/composer.oauth2.github.example.com.token
/composer.oauth2.bitbucket.example.org.token
/composer.oauth2.gitlab.example.org.token
/composer.oauth2.github.example.org.token
/composer.oauth2.bitbucket.example.net.token
/composer.oauth2.gitlab.example.net.token
/composer.oauth2.github.example.net.token
/composer.oauth2.bitbucket.example.co.uk.token
/composer.oauth2.gitlab.example.co.uk.token
/composer.oauth2.github.example.co.uk.token
/composer.oauth2.bitbucket.example.org.uk.token
/composer.oauth2.gitlab.example.org.uk.token
/composer.oauth2.github.example.org.uk.token
/composer.oauth2.bitbucket.example.com.au.token
/composer.oauth2.gitlab.example.com.au.token
/composer.oauth2.github.example.com.au.token
/composer.oauth2.bitbucket.example.org.au.token
/composer.oauth2.gitlab.example.org.au.token
/composer.oauth2.github.example.org.au.token
/composer.oauth2.bitbucket.example.net.au.token
/composer.oauth2.gitlab.example.net.au.token
/composer.oauth2.github.example.net.au.token
/composer.oauth2.bitbucket.example.co.uk.token
/composer.oauth2.gitlab.example.co.uk.token
/composer.oauth2.github.example.co.uk.token
/composer.oauth2.bitbucket.example.org.uk.token
/composer.oauth2.gitlab.example.org.uk.token
/composer.oauth2.github.example.org.uk.token
/composer.oauth2.bitbucket.example.com.au.token
/composer.oauth2.gitlab.example.com.au.token
/composer.oauth2.github.example.com.au.token
/composer.oauth2.bitbucket.example.org.au.token
/composer.oauth2.gitlab.example.org.au.token
/composer.oauth2.github.example.org.au.token
/composer.oauth2.bitbucket.example.net.au.token
/composer.oauth2.gitlab.example.net.au.token
/composer.oauth2.github.example.net.au.token
/composer.oauth2.bitbucket.example.co.in.token
/composer.oauth2.gitlab.example.co.in.token
/composer.oauth2.github.example.co.in.token
/composer.oauth2.bitbucket.example.org.in.token
/composer.oauth2.gitlab.example.org.in.token
/composer.oauth2.github.example.org.in.token
/composer.oauth2.bitbucket.example.net.in.token
/composer.oauth2.gitlab.example.net.in.token
/composer.oauth2.github.example.net.in.token
/composer.oauth2.bitbucket.example.co.jp.token
/composer.oauth2.gitlab.example.co.jp.token
/composer.oauth2.github.example.co.jp.token
/composer.oauth2.bitbucket.example.org.jp.token
/composer.oauth2.gitlab.example.org.jp.token
/composer.oauth2.github.example.org.jp.token
/composer.oauth2.bitbucket.example.net.jp.token
/composer.oauth2.gitlab.example.net.jp.token
/composer.oauth2.github.example.net.jp.token
/composer.oauth2.bitbucket.example.co.kr.token
/composer.oauth2.gitlab.example.co.kr.token
/composer.oauth2.github.example.co.kr.token
/composer.oauth2.bitbucket.example.org.kr.token
/composer.oauth2.gitlab.example.org.kr.token
/composer.oauth2.github.example.org.kr.token
/composer.oauth2.bitbucket.example.net.kr.token
/composer.oauth2.gitlab.example.net.kr.token
/composer.oauth2.github.example.net.kr.token
/composer.oauth2.bitbucket.example.co.uk.token
/composer.oauth2.gitlab.example.co.uk.token
/composer.oauth2.github.example.co.uk.token
/composer.oauth2.bitbucket.example.org.uk.token
/composer.oauth2.gitlab.example.org.uk.token
/composer.oauth2.github.example.org.uk.token
/composer.oauth2.bitbucket.example.com.au.token
/composer.oauth2.gitlab.example.com.au.token
/composer.oauth2.github.example.com.au.token
/composer.oauth2.bitbucket.example.org.au.token
/composer.oauth2.gitlab.example.org.au.token
/composer.oauth2.github.example.org.au.token
/composer.oauth2.bitbucket.example.net.au.token
/composer.oauth2.gitlab.example.net.au.token
/composer.oauth2.github.example.net.au.token
/composer.oauth2.bitbucket.example.co.nz.token
/composer.oauth2.gitlab.example.co.nz.token
/composer.oauth2.github.example.co.nz.token
/composer.oauth2.bitbucket.example.org.nz.token
/composer.oauth2.gitlab.example.org.nz.token
/composer.oauth2.github.example.org.nz.token
/composer.oauth2.bitbucket.example.net.nz.token
/composer.oauth2.gitlab.example.net.nz.token
/composer.oauth2.github.example.net.nz.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.gitlab.example.co.za.token
/composer.oauth2.github.example.co.za.token
/composer.oauth2.bitbucket.example.org.za.token
/composer.oauth2.gitlab.example.org.za.token
/composer.oauth2.github.example.org.za.token
/composer.oauth2.bitbucket.example.net.za.token
/composer.oauth2.gitlab.example.net.za.token
/composer.oauth2.github.example.net.za.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.gitlab.example.co.za.token
/composer.oauth2.github.example.co.za.token
/composer.oauth2.bitbucket.example.org.za.token
/composer.oauth2.gitlab.example.org.za.token
/composer.oauth2.github.example.org.za.token
/composer.oauth2.bitbucket.example.net.za.token
/composer.oauth2.gitlab.example.net.za.token
/composer.oauth2.github.example.net.za.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.gitlab.example.co.za.token
/composer.oauth2.github.example.co.za.token
/composer.oauth2.bitbucket.example.org.za.token
/composer.oauth2.gitlab.example.org.za.token
/composer.oauth2.github.example.org.za.token
/composer.oauth2.bitbucket.example.net.za.token
/composer.oauth2.gitlab.example.net.za.token
/composer.oauth2.github.example.net.za.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.gitlab.example.co.za.token
/composer.oauth2.github.example.co.za.token
/composer.oauth2.bitbucket.example.org.za.token
/composer.oauth2.gitlab.example.org.za.token
/composer.oauth2.github.example.org.za.token
/composer.oauth2.bitbucket.example.net.za.token
/composer.oauth2.gitlab.example.net.za.token
/composer.oauth2.github.example.net.za.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.gitlab.example.co.za.token
/composer.oauth2.github.example.co.za.token
/composer.oauth2.bitbucket.example.org.za.token
/composer.oauth2.gitlab.example.org.za.token
/composer.oauth2.github.example.org.za.token
/composer.oauth2.bitbucket.example.net.za.token
/composer.oauth2.gitlab.example.net.za.token
/composer.oauth2.github.example.net.za.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.gitlab.example.co.za.token
/composer.oauth2.github.example.co.za.token
/composer.oauth2.bitbucket.example.org.za.token
/composer.oauth2.gitlab.example.org.za.token
/composer.oauth2.github.example.org.za.token
/composer.oauth2.bitbucket.example.net.za.token
/composer.oauth2.gitlab.example.net.za.token
/composer.oauth2.github.example.net.za.token
/composer.oauth2.bitbucket.example.co.za.token
/composer.oauth2.git......